.header {
  width: 100%;
  background-color: #272747;
  display: flex;

  .navButton {
    background-color: transparent;
    color: #e8ebe4;
    border: none;
    padding: 1.5rem 2rem;

    &:hover {
      background-color: #6a60e5;

      transition: background-color ease-out 250ms;
    }
  }
}
