.header {
  width: 100%;
  background-color: #272747;
  display: flex;
  justify-content: space-between;
  padding: 0 3rem;
  .nav {
    
  .navButton {
    background-color: transparent;
    color: #e8ebe4;
    border: none;
    padding: 1.5rem 2rem;
    

    &:hover {
      filter: brightness(0.8);
      transition: filter ease-out 250ms;
    }
  }
  .exitButton {
    background-color: #C80000;
    padding: 0.5rem 1.5rem;
    border-radius: 7px;
    color: #e8ebe4;
    border: none;
  }
}
}