@import "../../styles/theme.module";
.form {
  display: grid;
  padding: 1rem;
  gap: 1rem;
  min-width: 300px;
  margin-inline: auto;

  h2 {
    text-align: center;
    height: 0.5cm;
    padding: 2rem 0;
  }

  .errorMessage {
    color: red;
  }

  .formControl {
    display: flex;
    flex-direction: column;

    input {
      margin: 8px 0;

      padding: 8px;

      border-radius: 5px;
    }
  }

  .submitButton {
    margin: 0 auto;
    border: none;
    padding: 0.5rem 1rem;
    width: 100%;
    border-radius: 5px;
    height: 40px;
    color: $primary-bg-color;
    background-color: $primary-text-color;

    &:hover {
      filter: brightness(0.8);
      transition: filter ease-in-out 250ms;
    }
  }
}
