@import "../../styles/theme.module";
.form {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  align-items: center;
  gap: 1.5rem;
  margin: auto;
  text-align: center;

  h2 {
    text-align: center;
  }

  button {
    background-color: $primary-color;
    width: 250px;
    margin-top: 6px;
    padding: 0.75rem;
    border-radius: 5px;
    border: none;
    color: $white-color;
    &:hover {
      filter: brightness(0.8);
      transition: filter 250ms ease-in-out;
    }
  }
  .formControl {
    display: flex;
    flex-direction: column;
    width: 250px;

    label {
      text-align: left;
    }

    input {
      padding: 6px 4px;
      margin-top: 8px;
      border-radius: 5px;
      border: none;

      &:focus-within {
        outline-color: $primary-color;
        outline-width: 2px;
        outline-style: outset;
      }
    }
  }
}
