@import "../theme.module";

.main {
  color: $primary-text-color;
  background-color: $primary-bg-color;
  margin-inline: auto;
  min-height: 90vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
