@import "../theme.module";

.createAccountSection {
  display: flex;
  justify-content: center;
  align-items: center;

  .link {
    border: none;
    background: transparent;
    color: $primary-color;
    font-size: 16px;

    &:hover {
      filter: brightness(0.8);
      text-decoration: underline;
    }
  }
}
