@import "../../../styles/theme.module";

.table {
  background-color: rgba(255, 255, 255, 0.05);
  margin: 2rem auto;
  padding: 2rem 3rem;
  border-radius: 7px;
  width: 100%;
  max-width: 1024px;

  .emptyMessage {
    padding: 2rem 3rem;
    text-align: center;

    button {
      padding: 0.5rem 2.5rem;
      width: max-content;
      border: none;
      border-radius: 8px;
      font-weight: 700;
      color: $primary-bg-color;
      height: 40px;
      background-color: $primary-text-color;

      &:hover {
        filter: brightness(0.8);
        transition: filter ease-in-out 250ms;
      }
    }
  }

  .loadingContainer {
    display: grid;
    place-content: center;
    padding: 2rem 3rem;
  }

  .tableRow {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0.75rem 1.5rem;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;

    th {
      text-align: start;
      min-width: 150px;
    }

    th:first-child {
      min-width: 50px;
    }

    th:nth-child(2) {
      min-width: 200px;
    }

    th:last-child {
      min-width: 100px;
    }
    th:nth-last-child(2) {
      min-width: 50px;
    }
  }

  tr:nth-child(odd) {
    background-color: $primary-color-dark;
  }

  tr:last-child {
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
  }
}
