@import "../../styles/theme.module";

.formContainer {
  width: 100%;

  .form {
    display: grid;
    padding: 1rem 0;
    gap: 1rem;
    max-width: 300px;
    margin-inline: auto;

    .formControl {
      display: flex;
      flex-direction: column;

      input {
        margin: 0.5rem 0;
        padding: 8px;
        border-radius: 5px;
      }

      select {
        margin: 0.5rem 0;
        padding: 8px;
        border-radius: 5px;
      }

      .errorMessage {
        color: red;
      }
    }

    .submitButton {
      margin: 0 auto;
      border: none;
      padding: 0.5rem 1rem;
      width: 100%;
      border-radius: 5px;
      font-weight: 700;
      color: $white-color;
      height: 40px;
      background-color: $primary-color;

      &:hover {
        filter: brightness(0.8);
        transition: filter 250ms ease-in-out;
      }
    }
  }
}
