@import "../../styles/theme.module";

.modal {
  background-color: $primary-color-dark;
  padding: 1rem 3rem;
  border-radius: 5px;
  min-width: 400px;

  .modalHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
  }

  .closeBtn {
    border: none;
    padding: 0 0.75rem;
    border-radius: 5px;
    font-weight: 700;
    color: $primary-bg-color;
    height: 40px;
    background-color: $primary-text-color;
    width: max-content;
    font-size: 1.75rem;

    &:hover {
      filter: brightness(0.8);
      transition: filter ease-in-out 250ms;
    }
  }
}
