.table {
  background-color: rgba(255, 255, 255, 0.05);
  margin: 10px 50px;
  padding: 2rem 4rem;
  min-width: max-content;

  .tableHead {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }
}
