.form {
  display: grid;
  padding: 1rem;
  gap: 1rem;
  max-width: 300px;
  margin: 0 auto;

  h2 {
    text-align: center;
  }

  .errorMessage {
    color: red;
  }

  .formControl {
    padding: 16px 0;
    display: flex;
    flex-direction: column;

    input {
      margin: 8px 0;

      padding: 8px 16px;

      border-radius: 5px;
    }
  }

  .submitButton {
    margin: 0 auto;
    padding: 8px 16px;
    width: 100%;

    background-color: yellow;
  }
}
