// main
$primary-color: #acd1af;
$primary-color-dark: #1a3c3d;

// accent/error
$accent-color: #ffee32; // ou fdc500
$primary-text-color: #d90429;

// neutral
$primary-bg-color: #0a191a;
$primary-text-color: #fffaec;
$gray-color: #b8bacf;
