// main
$primary-color: #6a60e5;
$primary-color-dark: #272747;

// accent/error
$accent-color: #ffee32; // ou fdc500
$error-color: #d90429;

// neutral
$black-color: #19192c;
$white-color: #e8ebe4;
$gray-color: #b8bacf;
