@import "./theme.module";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;

  letter-spacing: 1px;
  font-size: 1rem;
  color: $primary-text-color;
  background: radial-gradient(
    111.91% 108% at 26.56% 100%,
    #091616 7.43%,
    #0f2728 93.93%
  );
}

* {
  box-sizing: border-box;
}

button {
  cursor: pointer;

  letter-spacing: 1px;
  font-size: 1rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  border-radius: 8px;
}

input {
  background-color: $primary-color-dark;
  color: $primary-text-color;
  border-width: 2px;
  border-color: $primary-bg-color;
  border-style: solid !important;
  font-size: 1rem;

  margin: 0.5rem 0;
  padding: 0.75rem;
  border-radius: 5px;

  &::placeholder {
    letter-spacing: 1px;
    font-size: 1rem;
  }

  &:hover,
  &:focus,
  &:focus-within,
  &:focus-visible,
  &::before,
  &::after {
    border-width: 2px;
    border-color: $primary-bg-color;
    border-style: solid !important;
    outline: 2px;
    outline-style: solid;
    outline-color: $primary-color;
  }
}

select {
  background-color: $primary-bg-color;
  color: $primary-text-color;
  border-width: 2px;
  border-color: $primary-bg-color;
  border-style: solid !important;
  font-size: 1rem;
  margin: 0.5rem 0;
  padding: 0.75rem;
  border-radius: 5px;
  appearance: none;

  &::placeholder {
    letter-spacing: 1px;
    font-size: 1rem;
  }

  &:hover,
  &:focus,
  &:focus-within,
  &:focus-visible,
  &::before,
  &::after {
    border-width: 2px;
    border-color: $primary-bg-color;
    border-style: solid !important;
    outline: 2px;
    outline-style: solid;
    outline-color: $primary-color;
  }
}

@keyframes modal {
  0% {
    transform: scale(1) translateY(0px);
    opacity: 0;
    box-shadow: 0 0 0 rgba(241, 241, 241, 0);
  }
  1% {
    transform: scale(0.96) translateY(10px);
    opacity: 0;
    box-shadow: 0 0 0 rgba(241, 241, 241, 0);
  }
  100% {
    transform: scale(1) translateY(0px);
    opacity: 1;
    box-shadow: 0 0 500px rgba(241, 241, 241, 0);
  }
}

.popup-content {
  -webkit-animation: modal 0.3s cubic-bezier(0.38, 0.1, 0.36, 0.9) forwards;
}
